.HamburgerButton {
    position: fixed;
    // width: 100%;
    // margin-top: 0;
    // background-color: #eee;
    z-index: 1200;
}
.hamburger-menu__item {
    
    // & span {
    //     color: #fff;
    //     padding: 20px !important;
    //     margin-top: 40px;
    //     z-index: 999999;
    // }
}
.bm-item-list {
    width: 100%;
    & span {
            color: #fff;
            padding: 20px ;
            // margin-top: 40px ;
            // background-color: green;
        }
}
.bm-item {
    padding-top: 40px;
    font-size: 40px;
}
.bm-menu {
    // margin-top: 50px;
    background-color: #eee;
}
.bm-cross-button  {
    height: 24px;
    width: 24px;
}
.bm-cross {
    // width: 16px !important;
    // height: 16px !important;
    // right: 20px;
    background: #bdc3c7;
}
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 36px;
    left: 36px;
    top: 36px;
    color: #fff !important;
    z-index: 999999;
}
.bm-burger-bars {
    background: #373a47;
    background: #fff !important;
}
.bm-burger-bars-hover {
    background: #a90000;
}
