.menuContainer {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow);
    // background-color: red;
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 3;
    background-color: #eee;
}
.header {
    width: 100vw;
    max-width: 1440px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.menu-logo {
    margin-left: 20px;
    & img {
        display: block;
        height: 30px;
        // color: #d3f709;
    }
}
.menu {
    display: flex;
    align-items: center;
}
.menuItem {
    width: auto;
    font-size: var(--fs-xl);
    font-weight: var(--fw-bold);
    margin: 0 10px;
    position: relative;
    cursor: pointer;
}
.activeItem {
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: -6px;
    background-color: rgb(255, 0, 0);
}