.portfolio {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    margin-bottom: 50px;
}
.portfolio-block {
    width: 100%;
    max-width: 1440px;
    height: 900px;
    position: relative;
    background-color: #eee;
    h1 {
        margin-top: 100px;
        font-family: "Playfair Display", sans-serif;
    }
}
.portfolio-block__items {
    display: flex;
}
.portfolio-block__item {
    flex: 1 1 33.3333%;
    display: inline-block;
    height: calc(490px + (0 - 20) * ((100vw - 380px) / (1240 - 380)));
    text-align: left;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    background-color: rgb(175, 167, 167);
    h3{
        text-align: center;
    }
    img{
        width: 140px;
        margin-left: 50%;
        transform: translate(-50%);
    }
    &.block1 {
        margin-top: 30px;
    }
    &.block2 {
        margin-top: 10%;
    }
    &.block3 {
        margin-top: 20%;
        margin-bottom: 30px !important;
    }
}
@media (max-width: 920px) {
    .portfolio {
        margin-bottom: 50px;
    }
    .portfolio-block__items {
        flex-direction: column;
        align-items: center;
    }
        .portfolio-block {
            position: static;
            display: flex;
            flex-direction: column;
            height: auto;
        }
        .portfolio-block__item {
            width: 80%;
            margin-top: 40px !important;
        }
}