.menuContainer {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow);
    // background-color: red;
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 3;
    background-color: #eee;
}
.header {
    width: 100vw;
    max-width: 1440px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.menu-logo {
    margin-left: 20px;
    & img {
        display: block;
        height: 30px;
        
        // color: #d3f709;
    }
}
.menu {
    // display: flex;
    // align-items: center;
    // justify-content: end;
    // margin-right: 150px !important;
    // width: 100%;
    // max-width: 1440px;
    // & a.activeLink {
        // background-color: blue;
    // }
}
.menuItem {
    width: auto;
    font-size: var(--fs-xl);
    font-weight: var(--fw-bold);
    margin: 0 10px;
    position: relative;
    cursor: pointer;
}
.activeItem {
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: -6px;
    background-color: rgb(255, 0, 0);
}

.HamburgerButton {
    position: relative;
    right: 20px;
    // width: 70px;
    width: auto;
    height: auto;
    // z-index: 14;



    // display: block;
    transform-origin: 16px 11px;
    /* float: left; */
    // margin-right: 29px;
    outline: 0;
    border: 0;
    padding: 12px;
    background: none;
    // background: red;

    & span {
        display: block;
        width: 40px;
        height: 5px;
        margin-bottom: 7px;
        background-color: #000;
        transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    }

    &:hover {
        span:nth-of-type(1) {
            width: 33px;
        }

        span:nth-of-type(2) {
            width: 40px;
        }

        span:nth-of-type(3) {
            width: 30px;
        }
    }
}
.bm-item-list {
    background-color: #000;
}