@import-normalize;
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700;800;900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
  box-sizing: border-box;
}

:root {
  /* Typograpgy */
  --family: 'Nunito Sans', sans-serif;
  --fs-sm: 14px;
  --fs-md: 16px;
  --fs-xl: 22px;
  --fw-light: 300;
  --fw-normal: 600;
  --fw-bold: 700;

  /* Other */
  --radius: 0.5rem
}

/* body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Poppins", sans-serif;
  --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #eee;
} */
.container {
  width: 100vw;
  height: 100vh;
  background-color: #eee;
  /* display: flex;
  justify-content: center; */
  /* background-color: red; */

}

.App {
  text-align: center;
  /* height: 100vh; */
  margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Poppins", sans-serif, 
      /* "Noto Sans", */
      "Playfair Display",
      "Open Sans";
    --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #eee;
}
.menu {
  /* height: 20vh; */
  display: flex;
  justify-content: center;
}
.siteHead {
  width: 100%;
  /* height: 100vh; */
}

